*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    font-size: 20px;
    --primary-color: rgb(198,161,207);
    --secondary-color:whitesmoke;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body{
    margin:0;
}

/***** Header *****/
header
{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color) ;
    align-items: center;
    height: 60px;
}
ul
{
    width:25%;
    display:flex;
    justify-content: right;
    margin-right: 1em;
}
li{
    display: inline-block;
    padding: .5em 1em;
    margin: 0 .5em;
    background-color: var(--secondary-color);
    color:black;
    border-radius: 10px;
    font-size: .75rem;
}
.logo
{
    margin-left:1em;
    width:25%;
}
#search
{
    border-radius: 10px;
    height:45px;
    width: 50%;
    min-width:300px;
    margin:auto;
    border: none;
    transition: all .7s;
    font-size: 1rem;
    text-align: center;
    padding: .001em;
    background-color: whitesmoke;
    initial-value: none;
}
#search:focus
{
    width: 60%;
    background-color: aliceblue;
}
#search:hover{
    background-color: aliceblue;
    border: 2px solid rgb(2, 14, 26);
}

/*----- Sections -----*/
.sections
{
    display: flex;
    justify-content: space-evenly;
    height: 1000px;
    margin-top: 1em;
    --main-width: 60%;
}

/***** Left *****/

.left , .right
{
    background-color: chartreuse;
    width:calc(((95% - var(--main-width))/2));
    border-radius: 10px;
}

/***** Main *****/
.main
{
    width:var(--main-width);
    background-color: aqua;
    border-radius: 10px;
}
/***** Right *****/
.right
{
    background-color: blueviolet;
    padding:.5em;
}
.right-container
{
    height:100%;
    display:flex;
    flex-direction: column;
    --donos-height:30%;
}
.top-donos, .groups{
    border-radius:5px;
}
.top-donos
{
    width:100%;
    height:var(--donos-height);
    background-color: aqua;
}
.groups
{
    margin:.5em 0 0 0;
    background-color: aliceblue;
    height: calc(100% - var(--donos-height));
}
