*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    font-size: 20px;
    --primary-color: rgb(198,161,207);
    --secondary-color:rgb(227, 226, 230);
    --background-color:whitesmoke;
}

a{
    text-decoration: none;
    color: inherit;
}
/*** Header ***/
header
{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background-color: aqua;
}

.logo
{
    margin-left:1em;
    width:25%;
    font-size: 2rem;
}

/**** Body ****/
.login
{
    text-align: center;
    font-size:2em;
}

body{
    margin:0;
    background-color: var(--background-color);
}

/*** Main ***/
.main
{
    width:70%;
    margin: auto;

}
form fieldset
{
    display: flex;
    flex-flow: column;
}