* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  font-size: 20px;
  --primary-color: rgb(198, 161, 207);
  --secondary-color: rgb(227, 226, 230);
  --background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

/*** Header ***/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 255, 4);
}

.logo {
  margin: 0.25em 1em;
  width: 25%;
  font-size: 2rem;
}

/**** Body ****/

body {
  margin: 0;
  background-color: var(--background-color);
  --left-container-width: 60%;
  --left-container-height: 1000px;
}

main {
  padding-inline: 1rem;
}

h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 60%;
  height: 300px;
  padding: 1rem;
  margin-inline: auto;
  object-fit: cover;
}

.row {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  overflow: auto;
}

.forum-card {
  min-width: 200px;
  padding: 1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

p.card-summary {
  font-size: 14px;
}
